body{
    background-color: rgb(55, 55, 139);
}

.mybg{
    background-color: rgba(147, 147, 236, 0.493);
}

.mybg2{
    background-color: rgb(135, 135, 197);
}

.mybg3{
    background-color: rgb(8, 8, 73);
}